.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .image {
    flex: 1;
    margin-right: 20px;
  }
  
  .text {
    flex: 1;
  }